div#header.row
    p.span1
      img(src="http://www.gravatar.com/avatar/dccdd2e02b7979f8b48f96a91376e7eb.png")
    div.span6.title
      h1 Josh Bennett
      h2 Philadelphia web and interactive solutions architect. 
    div.span5.search
      p.hide= description

div#bio(itemtype="http://data-vocabulary.org/Person")
  h2 About me.
  p(itemprop="photo")
    img(src="http://25.media.tumblr.com/avatar_01ffe8986f55_40.png")
  p
    span(itemprop="name") Josh Bennett
    | (AKA 
    span(itemprop="nickname") joshatjben). 
    | I'm a Philadelphia based  interactive solutions architect.  I specialize in web and mobile.</p>
  div#corner &nbsp; 

div.row#tweets
  div.span4
    h2 Latest Tweets
    ul
        - for(var i =0; i<6; i++) {
        li= tweets[i].text
        - }
    p
      a(href='https://twitter.com/#!/joshatjben', target='_blank').btn.btn-primary See more
  div.span4
    h2 Latest Posts
    p Check back soon
    p
      a(href='http://joshbennett.me', target='_blank').btn.btn-primary See more
  div.span4
    h2 Latest project feeds
    p Check back soon
    p
      a(href='https://github.com/joshatjben', target='_blank').btn.btn-primary See more
    