div#header.row
    p.span1
      img(src="http://www.gravatar.com/avatar/dccdd2e02b7979f8b48f96a91376e7eb.png")
    div.span6
      h1 Josh Bennett
      h2 Philadelphia web and interactive solutions developer. 
    div.span6
      span.hide |
      

div#bio
  h2 A little bit about me.
  p I am an interactive solutions developer in the Philadelphia area.  I specialize in web sites and applications, mobile apps and multimedia installments.
  div#corner &nbsp; 

div.row
  div.span4
    h2 Latest Tweets
    p Check back soon
    p
      a.btn.btn-primary See more
  div.span4
    h2 Latest Posts
    p Check back soon
    p
      a.btn.btn-primary See more
  div.span4
    h2 Latest project feeds
    p Check back soon
    p
      a.btn.btn-primary See more
    