div#header.row
    p.span1
      img(src="http://www.gravatar.com/avatar/dccdd2e02b7979f8b48f96a91376e7eb.png")
    div.span6.title
      h1 Josh Bennett
      h2 Philadelphia web and interactive solutions developer. 
    div.span5.search
      p.hide= description

div#bio
  h2 About me.
  p I am an interactive solutions developer in the Philadelphia area.  I specialize in web apps, mobile apps and multimedia installments.
  div#corner &nbsp; 

div.row
  div.span4
    h2 Latest Tweets
    p Check back soon
    p
      a(href='https://twitter.com/#!/joshatjben', target='_blank').btn.btn-primary See more
  div.span4
    h2 Latest Posts
    p Check back soon
    p
      a(href='http://joshbennett.me', target='_blank').btn.btn-primary See more
  div.span4
    h2 Latest project feeds
    p Check back soon
    p
      a(href='https://github.com/joshatjben', target='_blank').btn.btn-primary See more
    